body {
  height: 100%;
  text-align: center;
}

main {
  max-width: 30vw;
  margin: 0 auto;
}

form * {
  display: block;
}

.book-list {
  width: 30vw;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 0;
  box-shadow: 4px 0 1px 0 black;
  border-radius: 10px;
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid;
}

.light {
  background-color: rgb(250, 248, 245);
}

.dark {
  background-color: rgb(195 195 195);
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 20vw;
  margin: 0 auto;
}

form input {
  border: 3px solid;
  border-radius: 7px;
  font-size: 1.2rem;
}

button {
  height: 2rem;
  align-self: center;
  border: 2px solid;
  box-shadow: 2px 0 1px 0 black;
  border-radius: 5px;
}

form button {
  align-self: flex-end;
  width: 3rem;
}

.main-title,
.form-title {
  text-align: center;
}

.line-above-form {
  margin: 0 auto;
  border-bottom: 2px solid #000;
  width: 5rem;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 0 20px;
  align-items: center;
  font-size: large;
  box-shadow: 4px 0 1px 0 black;
  border-radius: 10px;
}

#header-title {
  margin: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  border: none;
  box-shadow: none;
}

.nav-list li {
  list-style: none;
  margin-left: 10px;
  border: none;
  border-right: 2px solid gray;
  padding: 4px 0;
  padding-right: 10px;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #000;
}

.contact-info p,
.contact-info li {
  text-align: start;
}

a:hover {
  color: blue;
}

.footer {
  width: 30vw;
  position: absolute;
  border: 2px solid gray;
  padding: 0 20px;
  bottom: 2em;
  box-sizing: border-box;
  box-shadow: 4px 0 1px 0 black;
  border-radius: 10px;
}

#contact {
  width: 25vw;
  margin: 0 auto;
}

.contact-ul {
  display: block;
  padding-inline-start: 40px;
  text-align: start;
  border: none;
  box-shadow: none;
}

.contact-ul-li {
  display: list-item;
  border: none;
  padding: 0;
  list-style: disc;
  font-size: 1vw;
}

.contact-parraf {
  text-align: start;
  font-size: 1vw;
  line-height: 3vh;
}

.footer a {
  text-decoration: none;
  color: blueviolet;
}

#date {
  font-size: medium;
  text-align: right;
  font-weight: 600;
}
